web/arduino_cloud_trial/venv/*
web/aws_trial/aws/*
web/aws_trial/venv/*
web/aws_trial/awscliv2.zip
firmware/AWS Solution/Device_1/arduino_secrets.h
web/venv/*
firmware/configure.h
web/__pycache__/*
firmware/secrets.txt
