#gitignore
web/arduino_cloud_trial/venv/*
web/aws_trial/aws/*
web/aws_trial/venv/*
web/aws_trial/awscliv2.zip
web/app/__pycache__/*
web/venv/*


#These files contains security credentials
#They are shared via USB
firmware/AWS Solution/Device_1/arduino_secrets.h
