<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="divbig">
            <div class="divin"><h1>test</h1></div>
            <div class="divin"><h1>test</h1></div>
        </div>
        <div class="divbig">
            <div class="divin"><h1>test</h1></div>
            <div class="divin"><h1>test</h1></div>
        </div>
    </div>
</body>
</html>