{% extends "base.html" %}

{% block app_content %}
<div class="container">

{% for device in devices %}
  {% if device['approved'] == True %}
  <div class="device" id='{{ device["id"] }}'>
    <h1>{{ device['displayName'] }}</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>Mains Status</h2>
        <p id='{{ device["id"] }}_mains'>?</p>
      </div>
      <div class="col-md-6">
        <h2>Battery Voltage</h2>
        <p id='{{ device["id"] }}_battery'>?</p>
      </div>
    </div>
  </div>

    {% endif %}
{% endfor %} 
</div>

{% endblock %}
