body {
    background-color: #F7F9FB !important;
}

nav {
    background-color: #31708e;
}

nav a {
    color: #F7F9FB;
}

.divbig {
    display: block;
}

.divin {
    display: inline-block;
    border: 1px solid #31708e;
    background-color: #31708e;
    border-radius: 10px;
    width: 20vw;
    height: 20vh;
}

.divin h1{
    color: #f7f9fb;
}

.maindiv {
    position: fixed;
    top: 30vh;
    left: 30vw;
}